USE [master]
GO
CREATE DATABASE [galeria_db]
GO
USE [galeria_db]
GO

CREATE TABLE [dbo].[artista](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[telefono] [varchar](11) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[nombreArtista] [varchar](30) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__artista] PRIMARY KEY CLUSTERED ([id] ASC))ON [PRIMARY]
GO

CREATE TABLE [dbo].[detallesFactura](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idFactura] [bigint] NOT NULL,
	[idObra] [bigint] NOT NULL,
	[subtotal] [float] NOT NULL,
 CONSTRAINT [PK_detallesFactura] PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[envios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idFactura] [bigint] NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[direccion] [varchar](120) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
	[ciudad] [varchar](30) NOT NULL,
	[codigoPostal] [varchar](15) NOT NULL,
	[fechaEnviado] [date] NULL,
	[fechaRecibido] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__envios] PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[facturas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idUsuario] [bigint] NOT NULL,
	[fecha] [date] NOT NULL,
	[total] [float] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[matriculas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idUsuario] [bigint] NOT NULL,
	[idOferta] [bigint] NOT NULL,
	[fechaMatricula] [date] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[costo] [float] NOT NULL,
PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[obras](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idArtista] [bigint] NOT NULL,
	[tecnica] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[tamano] [varchar](20) NOT NULL,
	[precio] [float] NOT NULL,
	[disponibilidad] [tinyint] NOT NULL,
	[categoria] [varchar](30) NOT NULL,
	[imagen] [varchar](255) NOT NULL,
	[fechaCreacion] [date] NOT NULL,
	[fechaRegistro] [date] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__obras] PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ofertas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idTaller] [bigint] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFinal] [date] NOT NULL,
	[ubicacion] [varchar](255) NOT NULL,
	[modalidad] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFinal] [time](7) NOT NULL,
	[cupos] [tinyint] NOT NULL,
 CONSTRAINT [PK__ofertas] PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[talleres](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idArtista] [bigint] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[duracion] [float] NOT NULL,
	[costo] [float] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK__talleres] PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[telefono] [int] NULL,
	[email] [varchar](45) NOT NULL,
	[tipoUsuario] [tinyint] NOT NULL,
	[nombreUsuario] [varchar](30) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__users] PRIMARY KEY CLUSTERED ([id] ASC)) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [IX_artista_correo] ON [dbo].[artista] ([correo] ASC);
CREATE UNIQUE NONCLUSTERED INDEX [IX_artista_nombreArtista] ON [dbo].[artista] ([nombreArtista] ASC);
CREATE UNIQUE NONCLUSTERED INDEX [IX_users_email] ON [dbo].[users] ([email] ASC);
CREATE UNIQUE NONCLUSTERED INDEX [IX_users_nombreUsuario] ON [dbo].[users] ([nombreUsuario] ASC);
GO

-- Restricciones DEFAULT
ALTER TABLE [dbo].[artista] ADD CONSTRAINT [DF__artista__created__37A5467C] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[artista] ADD CONSTRAINT [DF__artista__updated__38996AB5] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[envios] ADD CONSTRAINT [DF__envios__fechaEnv__4E88ABD4] DEFAULT (NULL) FOR [fechaEnviado];
ALTER TABLE [dbo].[envios] ADD CONSTRAINT [DF__envios__fechaRec__4F7CD00D] DEFAULT (NULL) FOR [fechaRecibido];
ALTER TABLE [dbo].[envios] ADD CONSTRAINT [DF__envios__created___5070F446] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[envios] ADD CONSTRAINT [DF__envios__updated___5165187F] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[facturas] ADD CONSTRAINT [DF__facturas__created__403A8C7D] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[facturas] ADD CONSTRAINT [DF__facturas__updated__412EB0B6] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[matriculas] ADD CONSTRAINT [DF__matriculas__created__3A8A006F] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[matriculas] ADD CONSTRAINT [DF__matriculas__updated__3A8A006F] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[obras] ADD CONSTRAINT [DF__obras__created_a__440B1D61] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[obras] ADD CONSTRAINT [DF__obras__updated_a__44FF419A] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[ofertas] ADD CONSTRAINT [DF__ofertas__created__59063A47] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[ofertas] ADD CONSTRAINT [DF__ofertas__updated__59FA5E80] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[talleres] ADD CONSTRAINT [DF__talleres__create__5535A963] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[talleres] ADD CONSTRAINT [DF__talleres__update__5629CD9C] DEFAULT (NULL) FOR [updated_at];

ALTER TABLE [dbo].[users] ADD CONSTRAINT [DF__users__tipoUsuar__3F466844] DEFAULT ((0)) FOR [tipoUsuario];
ALTER TABLE [dbo].[users] ADD CONSTRAINT [DF__users__created_a__403A8C7D] DEFAULT (NULL) FOR [created_at];
ALTER TABLE [dbo].[users] ADD CONSTRAINT [DF__users__updated_a__412EB0B6] DEFAULT (NULL) FOR [updated_at];

-- Restricciones FOREIGN KEY
ALTER TABLE [dbo].[detallesFactura] WITH CHECK ADD CONSTRAINT [FK_detallesFactura_facturas] FOREIGN KEY([idFactura]) REFERENCES [dbo].[facturas] ([id]);
ALTER TABLE [dbo].[detallesFactura] CHECK CONSTRAINT [FK_detallesFactura_facturas];

ALTER TABLE [dbo].[detallesFactura] WITH CHECK ADD CONSTRAINT [FK_detallesFactura_obras] FOREIGN KEY([idObra]) REFERENCES [dbo].[obras] ([id]);
ALTER TABLE [dbo].[detallesFactura] CHECK CONSTRAINT [FK_detallesFactura_obras];

ALTER TABLE [dbo].[envios] WITH CHECK ADD CONSTRAINT [FK_envios_facturas] FOREIGN KEY([idFactura]) REFERENCES [dbo].[facturas] ([id]) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE [dbo].[envios] CHECK CONSTRAINT [FK_envios_facturas];

ALTER TABLE [dbo].[facturas] WITH CHECK ADD CONSTRAINT [FK_facturas_users] FOREIGN KEY([idUsuario]) REFERENCES [dbo].[users] ([id]) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [FK_facturas_users];

ALTER TABLE [dbo].[matriculas] WITH CHECK ADD CONSTRAINT [FK_matriculas_ofertas] FOREIGN KEY([idOferta]) REFERENCES [dbo].[ofertas] ([id]) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matriculas_ofertas];

ALTER TABLE [dbo].[matriculas] WITH CHECK ADD CONSTRAINT [FK_matriculas_users] FOREIGN KEY([idUsuario]) REFERENCES [dbo].[users] ([id]) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE [dbo].[matriculas] CHECK CONSTRAINT [FK_matriculas_users];

ALTER TABLE [dbo].[obras] WITH CHECK ADD CONSTRAINT [FK_obras_artista] FOREIGN KEY([idArtista]) REFERENCES [dbo].[artista] ([id]) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE [dbo].[obras] CHECK CONSTRAINT [FK_obras_artista];

ALTER TABLE [dbo].[ofertas] WITH CHECK ADD CONSTRAINT [FK_ofertas_taller] FOREIGN KEY([idTaller]) REFERENCES [dbo].[talleres] ([id]) ON UPDATE CASCADE ON DELETE CASCADE;
ALTER TABLE [dbo].[ofertas] CHECK CONSTRAINT [FK_ofertas_taller];

ALTER TABLE [dbo].[talleres]  WITH CHECK ADD  CONSTRAINT [FK_talleres_artista] FOREIGN KEY([idArtista])REFERENCES [dbo].[artista] ([id])
ALTER TABLE [dbo].[talleres] CHECK CONSTRAINT [FK_talleres_artista]


